@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button,
[type=button],
[type=reset],
[type=submit] {
  appearance: button;
  -webkit-appearance: button;
  background: none;
  border: 0;
  cursor: pointer;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

[type=search] {
  appearance: textfield;
  -webkit-appearance: textfield;
}

main {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
}

[type=checkbox],
[type=radio] {
  padding: 0;
}

:root {
  font-family: "Figtree", sans-serif;
}

.container {
  max-width: 24rem;
  max-height: 32.625rem;
  padding: 0 0;
  margin: 13.6875rem auto;
}

body {
  background-color: #f4d04e;
}

.container .blog-preview-card {
  max-width: 24rem;
  max-height: 32.625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 1.25rem;
  border: 1px solid #111111;
  box-shadow: 0.5rem 0.5rem 0 0 #000000;
}
.container .blog-preview-card .img-wrapper {
  max-width: 21rem;
  max-height: 12.5rem;
}
.container .blog-preview-card .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.625rem;
}
.container .blog-preview-card .blog-preview-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  padding: 0 0;
}
.container .blog-preview-card .blog-preview-content .blog-badge {
  width: 5.125rem;
  height: 1.8125rem;
  gap: 0.5rem;
  padding: 0.25rem 0.75rem;
  background-color: #f4d04e;
  border-radius: 0.25rem;
}
.container .blog-preview-card .blog-preview-content .blog-badge p {
  width: fit-content;
  height: fit-content;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0px;
  color: #111111;
  background-color: #f4d04e;
  text-align: left;
  vertical-align: text-top;
}
.container .blog-preview-card .blog-preview-content .published-date {
  width: fit-content;
  height: fit-content;
}
.container .blog-preview-card .blog-preview-content .published-date p {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0px;
  color: #111111;
  text-align: left;
  vertical-align: text-top;
}
.container .blog-preview-card .blog-preview-content .blog-title {
  width: fit-content;
  height: fit-content;
}
.container .blog-preview-card .blog-preview-content .blog-title h1 {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0px;
  color: #111111;
  text-align: left;
  vertical-align: text-top;
}
.container .blog-preview-card .blog-preview-content .blog-description {
  width: fit-content;
  height: fit-content;
}
.container .blog-preview-card .blog-preview-content .blog-description p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0px;
  color: #6b6b6b;
  text-align: left;
  vertical-align: text-top;
}
.container .blog-preview-card .author {
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: flex-start;
  padding: 0 0;
}
.container .blog-preview-card .author .avatar-wrapper {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}
.container .blog-preview-card .author .avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .blog-preview-card .author .author-name {
  width: fit-content;
  height: fit-content;
  padding: 0.34375rem 0;
}
.container .blog-preview-card .author .author-name p {
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0px;
  color: #111111;
  text-align: left;
  vertical-align: text-top;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}